{% extends 'index.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" style="margin: 0 auto;">
            <form>
                <div class="form-group">
                <label for="mytext"></label>
                <input type="text" name="mytext" id="mytext" class="form-control" placeholder="How many courses do you offer?" aria-describedby="helpId">
                </div>
            </form>
            <form>
                <div class="form-group">
                <label for="mytext"></label>
                <input type="text" name="mytext" id="mytext" class="form-control" placeholder="How many courses do you offer?" aria-describedby="helpId">
                </div>
            </form>
            <form>
                <div class="form-group">
                <label for="mytext"></label>
                <input type="text" name="mytext" id="mytext" class="form-control" placeholder="How many courses do you offer?" aria-describedby="helpId">
                </div>
            </form>
            <div class="form-group row">
                <div class="offset-sm-2 col-md-10">
                        <button type="submit" class="btn btn-primary" id="submit">Action</button>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}