{% extends 'index.html' %}
{% load static %}
{% load babel %}
{% block title %}
    Image Page 2
{% endblock title %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'nin2.jpg' %}" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-md-6">
                <img src="{% static 'opera2.png' %}" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
{% endblock content %}